body {
    background: linear-gradient(to bottom, #009688 100px, #DADBD3 0);
    height: 100Vh;
}

#username{background-color: #EAEAEA;}



*{border: 1px dotted;}


#username{
    height: 80px;
}



img{width: 60px;
height: 60px;}