/* *{
    border: 1px dotted;
} 
 */


body {
    background: linear-gradient(to bottom, #009688 150px, #DADBD3 0);

    height: 100Vh;
}

#username {
    background-color: #EAEAEA;
    height: 80px;

}

#notifications {
    background-color: #8EDAFC;
}

#userSearch {
    background-color: #FAFAFA
}

.chatUser {
    background-color: #EAEAEA;
    height: 80px;

}

#chatSpace {
    background-image: url(./img/mine.jpg);
    height: 690px;
    overflow-y: scroll
}

img {
    width: 60px;
    height: 60px;
}


#usersList {
    background-color: white;
    height: 572px;
    overflow-y: scroll;
}

.users:hover {
    background-color: lightgrey;
    cursor: pointer;
}

#sendMessage {
    background-color: #F3EEEA;
}

/* stile messaggi della chat verde e bianco */

.sent {
    max-width: 300px;
    border-radius: 15px;
    background-color: #D5F9BA;
    /*  margin-left: 80%; */
    padding: 10px;
    margin: 10px 0;
}

.received {
    max-width: 300px;
    border-radius: 15px;
    background-color: #ffffff;
    padding: 10px;
    align-self: flex-end;
    margin: 10px 0;
}

#right {
    justify-content: end;
}

#chat-container {

    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
}